*.zip
*.tar
*.tgz
*.npz
*.jpg
*.jpeg
*.pkl
*.pyc
.DS_Store

src/jetson_code/pedestal_classification/.ipynb_checkpoints/
src/jetson_code/pedestal_classification/.ipynb_checkpoints/compressed_classifiers/
src/jetson_code/pedestal_classification/pedestal_pictures_raspicam/
src/jetson_code/pedestal_classification/picturespedestals/

src/jetson_code/pedestal_classification/up_fallen_classifier_v1.html
src/jetson_code/pedestal_classification/up_fallen_classifier_v1.pdf

src/jetson_code/pedestal_classification/*.zip
src/jetson_code/pedestal_classification/*.tar
src/jetson_code/pedestal_classification/*.tgz
src/jetson_code/pedestal_classification/*.npz
src/jetson_code/pedestal_classification/*.jpg
src/jetson_code/pedestal_classification/*.jpeg
src/jetson_code/pedestal_classification/*.pkl
src/jetson_code/pedestal_classification/*.pth
src/jetson_code/pedestal_classification/*.joblib



